<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.mapper.StockMapper">
    <!--对多根据uid查询用户及其关联的订单信息：级联查询的第二种方法（嵌套结果） -->
    <resultMap type="stock" id="stockAndcustom">
        <id property="sid" column="sid" />
        <result property="date" column="date" />
        <result property="totalprice" column="totalprice" />
         <result property="buyer" column="buyer" />
        <!-- 对多级联查询，ofType表示集合中的元素类型 -->
        <collection property="custom" ofType="custom">
            <id property="cid" column="cid" />
            <result property="name" column="name" />
            <result property="linkman" column="linkman" />
            <result property="addr" column="addr" />
            <result property="tel" column="tel" />
            <result property="email" column="email" />
            <result property="remark" column="remark" />
            <result property="type" column="remark" />
        </collection>
    </resultMap>
    <select id="findAll" resultMap="stockAndcustom">
    select s.sid,i.cid,i.name,s.date,s.totalprice,s.buyer from t_stock_info s,t_custom_info i where s.cid=i.cid
    </select>
    <select id="findById" parameterType="String"   resultMap="stockAndcustom"> 
   		select s.sid,c.cid,s.date,s.totalprice,s.buyer from t_stock_info s,t_custom_info c where s.cid=c.cid and sid=#{sid}        </select> 
    <update id="updateStock" parameterType="stock">
    update t_stock_info set cid=#{custom.cid},date=#{date},totalprice=#{totalprice},buyer=#{buyer} where sid=#{sid}
    </update>
    <insert id="insert" parameterType="stock">
    insert into t_stock_info values(#{sid},#{custom.cid},#{date},#{totalprice},#{buyer})
    </insert>
    <delete id="deleteStock"  parameterType="String">
    delete from t_stock_info where sid=#{sid}
    </delete>
</mapper>       